.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &--fullScreen {
        min-height: 100dvh;
        background-color: var(--bg-surface);
    }
}
